* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: aliceblue;
}

.page-nav {
    color: white;
    background-color: black;
    border:  1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-nav h1 {
    margin: 20px;
    display: flex;
    align-items: center;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid red;
}


.product-container {
    margin: 15px;
    padding: 2px 16px;
}

.product-container:hover {
    box-shadow: 0 8px 16px 8 rgba(0, 0, 0, 0.2);
}

.product-container .card img {
    width: 100px;
}



.card {
    width: 190px;
    height: 254px;
    background: transparent;
    border: 2px solid #07ff07;
    box-shadow: 2px 2px 15px #000000 inset;
    text-align: center;
    color: black;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico';
    transition-duration: 0.4s;
  }
  
  .card:hover {
    color: chocolate;
    box-shadow: 2px 2px 15px #07ff07 inset;
  }




.button-checkout {
    height: 50px;
    width: 150px;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   .button-checkout:hover {
    border: 1px solid #07ff07;
   }
   
   .button-checkout:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }
  






.button-add {
   --button_radius: 0.75em;
   --button_color: #e8e8e8;
   --button_outline_color: #000000;
   font-size: 12px;
   font-weight: bold;
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
   transition-duration: 0.4s;
  }
  
  .button_top {
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.75em 1.5em;
   background: var(--button_color);
   color: var(--button_outline_color);
   transform: translateY(-0.2em);
   transition-duration: 0.4s;
  }
  
  .button-add:hover .button_top {
   transform: translateY(-0.33em);
   background-color: #07ff07;
   transition-duration: 0.4s;
  }
  
  .button-add:active .button_top {
   transform: translateY(0);
  }